* {
  background-color: #61FFA0;
  }
p {
  text-align: center;
  background-color: #FF5050;
  }
h1 {
  background-color: #FF5050;
  }
p a {
  background-color: #FF5050;
  }
#footer {
  bottom: 0;
  position: fixed;
  }
body {
  border-radius: 20px;
  padding: 20px;
  background-color: #FF5050;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  }